@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Microsoft Ignite | The Tour</h1>
    <p>Real case: migrate from Web Forms to ASP.NET Core gradually</p>
</div>


@foreach (var region in Model.Regions)
{
    var cities = Model.Cities.Where(c => c.TourRegionId == region.Id).ToArray();

    if (cities.Any())
    {
        <div class="margin-top-20">
            <h2>@region.Name</h2>

            <div class="row">
                @foreach (var city in cities)
                {
                    <div class="col-4 margin-top-20">
                        <div class="card" style="width: 18rem;">
                            <img src="@city.ImageUrl" class="card-img-top" alt="@city.Name">
                            <div class="card-body">
                                <h5 class="card-title">@city.Name</h5>
                                <p class="card-text">@city.DateDisplayed</p>
                                <a href="http://localhost:5585/Cities/Edit?id=@city.Id" class="btn btn-light btn-sm">edit</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

    }
}
